ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1493dd;
    align-content: space-evenly;
    justify-content: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #bbd4fa;
}

.center {
    align-content: center;
}
img {
    width: 30px;
}

div.footer-container {
    display: inline-flex;
    width: 100%;
}

footer {
    height: 150px;
    color: #2E435D;
    background-color:   #ddebf9c5;
    display: flex;
    opacity: 0.6;
}

div.footer-item{
    padding: 10px 20px 10px 10px;
    width: auto;
    height: 50px;
    font-weight: bold;
    color: black;
    font-size: 15px;
}
